.rec1 {
    background-color: #303030;
    height: 90px;
    width: 500px;
}
.rec2 {
    background-color: lightgrey;
    height: 410px;
    width: 90px;
}
.rec3 {
    background-color: lightgrey;
    height: 410px;
    width: 90px;
    margin-top: -410px;
    margin-left: 410px;    
}
.rec4 {
    background-color:#303030;
    height: 40px;
    width: 320px;
    margin-top: -40px;
    margin-left: 90px;
}
.rec5 {
    background-color: #F0F0F0;
    height: 370px;
    width: 320px;
    margin-top: -410px;
    margin-left: 90px;
}